<footer class="footer">
    <div class="info-links">
        <div class="sc-me-links">
            <a href="/admin/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/admin/insta"><i style="color:  #E1306C;" class="fa-brands fa-square-instagram"></i></a>
            <a href="/admin/linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="brandName"><b>&copy; Wanderlust Private Limited</b></div>
        <div class="term-info">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>