<%layout("./layouts/boilerplate")%>
<body><br><br>
    <div class="row mb-3">
        <div class="col-6 offset-3">
         <h2>SignUp</h1>
        <form action="/signup" class="needs-validation" novalidate method="post">
        <div>
             <label for="username" class="form-label">Username: </label>
             <input type="text"id="username" name="username" placeholder="enter username" class="form-control" required>
             <div class="valid-feedback">looks good</div>
        </div>
        <br>

        <div>
             <label for="email" class="form-label">Email: </label>
             <input type="email" id="email" name="email" placeholder="enter email" class="form-control" required>
              <div class="invalid-feedback">email should be valid</div>
        </div>
        <br>
        
        <div>
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" placeholder="enter your password" class="form-control" required>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>       
    </div>       
    </body>